{% extends "base.html" %}

{% block title %}Сброс пароля | StockSavvy{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-[90vh]">
    <div class="max-w-md mx-auto w-full px-4 py-5">

        <h1 class="text-2xl font-bold mb-3 text-center">Сброс пароля</h1>

        {% if messages %}
            {% for message in messages %}
               <div class="alert alert-{{ message.tags }} mb-3">
                   {{ message }}
               </div>
            {% endfor %}
        {% endif %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger mb-3">
                {% for error in form.non_field_errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="text-center text-gray-500">
                Срок действия ссылки истек или отправлены неверные данные. Для сброса пароля <a href="{{ passwd_reset_url }}" class="text-primary font-medium">перейдите по ссылке</a>.
            </p>
        {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}" class="space-y-4">
                    {% csrf_token %}

                    {% include 'account/snippets/form_input.html' with input_type="password" input_name="password1" label_text="Новый пароль" %}
                    {% if form.password1.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ form.password1.errors.0 }}</p>
                    {% endif %}

                    {% include 'account/snippets/form_input.html' with input_type="password" input_name="password2" label_text="Подтвердите новый пароль" %}
                    {% if form.password2.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ form.password2.errors.0 }}</p>
                    {% endif %}

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary w-1/2 py-2 font-medium">Сбросить пароль</button>
                    </div>
                </form>
            {% else %}
                <p class="text-center text-gray-500">Ваш пароль изменён.</p>
            {% endif %}
        {% endif %}

    </div>
</div>

{% endblock %}
