{% extends "base.html" %}

{% block title %}
    Настройки | MakeResume
{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-[90vh]">
    <div class="max-w-md mx-auto w-full px-4 py-5">
        <!-- Общий контейнер для обеих форм -->
        <div class="col-lg-6 mb-5">

            {% include 'account/snippets/messages.html' %}

            {% if profile_form.errors or password_form.errors or set_password_form.errors %}
                <div class="alert alert-danger">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    Пожалуйста, проверьте данные и исправьте ошибки перед сохранением
                </div>
            {% endif %}

            <!-- Форма редактирования личных данных -->
            <div class="card mb-4">
                <div class="card-header fw-bold fs-5">Личные данные</div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}

                        <!-- Имя и Фамилия в одной строке на больших экранах -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                {% include 'account/snippets/form_input.html' with input_type="text" input_name="first_name" label_text="Имя" %}
                            </div>
                            <div class="col-md-6 mb-4">
                                {% include 'account/snippets/form_input.html' with input_type="text" input_name="last_name" label_text="Фамилия" %}
                            </div>
                        </div>

                        <!-- Логин и Email в одной строке на больших экранах -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                {% include 'account/snippets/form_input.html' with input_type="text" input_name="username" label_text="Имя пользователя" %}
                            </div>
                            <div class="col-md-6 mb-4">
                                {% include 'account/snippets/form_input.html' with input_type="email" input_name="email" label_text="Email" %}
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" name="profile_form" class="btn btn-primary w-1/2">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Форма смены пароля -->
            {% if password_form %}
                <div class="card">
                    <div class="card-header fw-bold fs-5">Сменить пароль</div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            {% include 'account/snippets/form_input.html' with input_type="password" input_name="password" label_text="Новый пароль" %}
                            <div class="text-center">
                                <button type="submit" name="password_form" class="btn btn-primary w-1/2">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}

            <!-- Форма добавления пароля -->
            {% if set_password_form %}
                <div class="card">
                    <div class="card-header fw-bold fs-5">Добавить вход по паролю</div>
                    <div class="card-body">
                        <p class="text-muted">
                            Вы можете установить пароль для своего аккаунта, чтобы в будущем у вас была возможность
                            входить не только через социальные сети, но и напрямую с использованием пароля.
                            Это обеспечит вам больше гибкости в доступе к своему профилю.
                        </p>
                        <form method="POST" action="">
                            {% csrf_token %}
                            {% include 'account/snippets/form_input.html' with input_type="password" input_name="password" label_text="Новый пароль" %}
                            <div class="text-center">
                                <button type="submit" name="set_password_form" class="btn btn-primary w-1/2">Установить пароль</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
