{% extends 'stocks/stock_list.html' %}

{% block title %}Избранные акции | StockSavvy{% endblock title %}

{% block stock_item %}

    {% include "stocks/components/favourite_stock_item.html" %}

{% endblock stock_item %}

{% block stock_header_content %}

    <h1 class="text-2xl md:text-4xl font-bold mb-5">Избранные акции</h1>
    <p class="text-sm md:text-base">Добавляйте <a href="{% url 'stocks' %}" class="link link-primary">акции</a> в избранное, чтобы быстро отслеживать их изменения и всегда иметь доступ к вашим любимым активам</p>

{% endblock stock_header_content %}


{% block no_stocks_text %}

    <div class="divider"></div>

    <div class="text-center">
        <p class="fs-5 mb-2">Избранное пустует. Найдите интересные акции и добавьте их в этот список</p>
        <a class="link link-primary" href="{% url 'stocks' %}">Добавить акции</a>
    </div>
    
{% endblock no_stocks_text %}

{% block scripts %}
{% endblock scripts %}