{% extends 'base.html' %}

{% load static %}

{% block title %}StockSavvy - stocks{% endblock title %}

{% block head %}
<style>

.stock-item-container:hover .stock-item-star {
    display: block;
}
.stock-item-star {
    display: none;
    cursor: pointer;
}
.stock-item-star:hover {
    display: block;
}

</style>
{% endblock head %}

{% block header %}
    
    {% include 'stocks/components/ticker_search.html' %}

{% endblock header %}

{% block content %}
    <div class="container">
        
        <div class="list-group mb-4">
            {% if stocks %}
                <div class="list-group-item list-group-item-secondary header-container" style="user-select: none;">
                    <div class="row">
                        {% with current_sorting=request.GET.sort_by current_order=request.GET.order %}
                            <div class="col d-none d-md-block">
                                {% include 'stocks/components/sorting_link.html' with params=params current_sorting=current_sorting sort_by='name' current_order=current_order title='Name' %}
                            </div>
                            <div class="col small d-md-none">
                                {% include 'stocks/components/sorting_link.html' with params=params current_sorting=current_sorting sort_by='name' current_order=current_order title='Name' %}
                            </div>
                            <div class="col text-end d-none d-md-block">
                                {% include 'stocks/components/sorting_link.html' with params=params current_sorting=current_sorting sort_by='price' current_order=current_order title='Price' %}
                            </div>
                            <div class="col text-end d-none d-md-block">
                                {% include 'stocks/components/sorting_link.html' with params=params current_sorting=current_sorting sort_by='per_day' current_order=current_order title='Per Day' %}
                            </div>
                            <div class="col text-end d-none d-md-block">
                                {% include 'stocks/components/sorting_link.html' with params=params current_sorting=current_sorting sort_by='per_year' current_order=current_order title='Per Year' %}
                            </div>
                            <div class="col small text-end d-md-none">
                                {% include 'stocks/components/sorting_link.html' with params=params current_sorting=current_sorting sort_by='per_year' current_order=current_order title='Price / Per Year' %}
                            </div>
                        {% endwith %}
                    </div>
                </div>
            {% endif %}

            {% for stock in stocks %}
            
                {% block stock_item %}
                    {% include 'stocks/components/stock_item.html' %}
                {% endblock stock_item %}
            
            {% empty %}

                {% if request.GET.query %}
                    <p class="text-center fs-5">No stocks were found for your search.</p>
                {% else %}
                    {% block no_stocks_text %}
                        <p class="text-center fs-5">There is no information about stocks.</p>
                    {% endblock no_stocks_text %}
                {% endif %}

            {% endfor %}

            {% block additional_info %}
            {% endblock additional_info %}
        </div>

        {% include 'pagination.html' %}
    </div>

{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        function setPaginationSize() {
            const width = window.innerWidth;
            const pagination = document.querySelector('.pagination');
            pagination.classList.toggle("pagination-sm", width <= 576);
        }
        
        setPaginationSize()
        
        window.addEventListener('resize', function () {
            console.log('set pag')
            setPaginationSize();
        
        });
    });
    </script>
{% endblock scripts %}