{% extends 'base.html' %}

{% load static %}
{% load formatting_filters %}

{% block title %}{{ stock.shortname }} ({{ stock.ticker }}) | StockSavvy{% endblock title %}

{% block head %}
<style>
    .anychart-plot-controls, .anychart-credits {
        display: none;
    }
</style>
{% endblock head %}

{% block content %}
<div class="container mx-auto px-4 py-5">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <!-- Детали акции -->
        <div class="lg:col-span-2">
            <div class="flex justify-between items-center">
                <h3 class="text-lg md:text-2xl  font-bold">{{ stock.shortname }}
                    <sup><span class="text-primary text-sm">{{ stock.ticker }}</span></sup>
                </h3>

            </div>

            <div class="divider mt-2 mb-4"></div>

            <!-- Выбор типа акции -->
            <div class="relative h-96 skeleton bg-base-200 rounded-lg shadow">
                <div id="chart-controls" class="flex items-center space-x-4 hidden">
                    <select id="chart-type" class="select select-sm">
                        <option value="candlestick" selected>Candlestick</option>
                        <option value="ohlc">OHLC</option>
                        <option value="line">Line</option>
                        <option value="area">Area</option>
                        <option value="stepLine">Step Line</option>
                        <option value="stepArea">Step Area</option>
                        <option value="stick">Stick</option>
                        <option value="rangeSplineArea">Range Spline Area</option>
                        <option value="hilo">Hilo</option>
                    </select>
                    <label class="flex items-center space-x-2">
                        <input type="checkbox" class="toggle toggle-sm" id="emaSwitch">
                        <span class="text-sm">EMA</span>
                    </label>
                </div>
                <div id="stock-chart" class="h-full relative">
                    <div class="absolute inset-0 flex justify-center items-center z-10">
                        <div id="no-data" class="hidden text-gray-500">There is no data available.</div>
                        <div id="chart-spinner" class="spinner-border w-6 h-6 animate-spin text-gray-500"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Цена акции -->
        <div>
            <div class="card shadow-lg">
                <div class="card-body text-center p-3 md:p-5">
                    <p class="text-xs md:text-sm text-gray-500">Цена акции на <b>{{ price_update_date|default_if_none:"-" }}</b></p>
                    <h3 class="text-lg md:text-2xl font-semibold">{{ last_stock_price|default_if_none:"-" }} {{ stock.currencyid|convert_currency_code }}</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Индикаторы акций -->
    <div role="tablist" class="tabs tabs-lifted mt-8">
        <input type="radio" name="stock_tabs" role="tab" class="tab text-xs md:text-base" aria-label="Торговые данные" id="trading-data-tab" checked="checked" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                {% include "stocks/components/info_item.html" with name="Цена открытия" value=opening_price %}
                {% include "stocks/components/info_item.html" with name="Цена закрытия" value=closing_price %}
                <div class="{% if value_per_day > 0 %}text-success{% elif value_per_day < 0 %}text-error{% endif %}">
                    {% include "stocks/components/info_item.html" with name="Изменение за день" value=change_per_day %}
                </div>
                {% include "stocks/components/info_item.html" with name="Дневной диапазон" value=daily_price_range %}
                <div class="{% if value_per_year > 0 %}text-success{% elif value_per_year < 0 %}text-error{% endif %}">
                    {% include "stocks/components/info_item.html" with name="Изменение за год" value=change_per_year %}
                </div>
                {% include "stocks/components/info_item.html" with name="Годовой диапазон" value=yearly_price_range %}
            </div>
        </div>

        <input type="radio" name="stock_tabs" role="tab" class="tab text-xs md:text-base" aria-label="Параметры акции" id="stock-parameters-tab" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                {% include "stocks/components/info_item.html" with name="Тикер" value=stock.ticker %}
                {% include "stocks/components/info_item.html" with name="Размер лота" value=lot_size %}
                {% include "stocks/components/info_item.html" with name="Код ISIN" value=stock.isin %}
                {% include "stocks/components/info_item.html" with name="Торговая валюта" value=stock.currencyid|convert_currency_code:False %}
                {% include "stocks/components/info_item.html" with name="Размер эмиссии" value=stock.issuesize %}
                {% include "stocks/components/info_item.html" with name="Уровень листинга" value=stock.listlevel %}
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block scripts %}
<script>
    const stockTicker = "{{ stock.ticker }}";
    const decimals = "{{ stock.decimals }}";

    document.querySelectorAll('.tab').forEach(tab => {
        tab.addEventListener('click', () => {
            document.querySelectorAll('.tab').forEach(el => el.classList.remove('tab-active'));
            tab.classList.add('tab-active');

            document.querySelectorAll('.tab-content').forEach(content => content.classList.add('hidden'));
            document.querySelector(tab.dataset.target).classList.remove('hidden');
        });
    });
</script>
<script src="{% static "stocks/js/stock-chart.js" %}"></script>
{% endblock scripts %}
