{% extends 'base.html' %}

{% block title %}Главная - StockSavvy{% endblock %}

{% block content %}

{% include 'account/snippets/messages.html' %}

<section class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Добро пожаловать в StockSavvy!</h1>
            <p class="py-6">Ваш личный помощник для анализа акций и финансовых рынков. Легко следите за ценами,
                тенденциями и многое другое</p>
            <a class="btn btn-primary">Узнать больше</a>
        </div>
    </div>
</section>
{% endblock %}

