{% extends "base.html" %}

{% block title %}Registration Closed{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-3 col-sm-6 col-10">
        <div class="card">
            <div class="card-header">
                <h6 class="card-text text-center">Registration Closed</h6>
            </div>
            <div class="card-body">
                <p>Registration of new user accounts is currently disabled. We apologize for any inconvenience.</p>
                <div class="text-center">
                    <a href="{% url 'stocks' %}" class="btn btn-primary">Go to Stocks</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}