{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-3 col-sm-6 col-10">
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <h6 class="card-text text-center">Password Change</h6>
                </div>
                <div class="card-body">
                    <p>
                        Please enter your old password, for security’s sake, and then enter your
                         new password twice so we can verify you typed it in correctly.
                    </p>
                    {% crispy form %}
                </div>
                <div class="text-center mb-3">
                    <button class="btn btn-primary w-50" type="submit">Change My Password</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}