{% extends "base.html" %}

{% block title %}Password Change Successful{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-3 col-sm-6 col-10">
        <div class="card">
            <div class="card-header">
                <h6 class="card-text text-center">Password Change Successful!</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <p>The password has been changed successfully!</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}