{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock title %}</title>
        
        <!-- AnyChart -->
        <script src="{% static "common/js/anychart-core.min.js" %}"></script>
        <script src="{% static "common/js/anychart-stock.min.js" %}"></script>
        <script src="{% static "common/js/anychart-ui.min.js" %}"></script>
        <link href="{% static "common/css/anychart-ui.min.css" %}" type="text/css" rel="stylesheet">

        <!-- Bootstrap -->
        <link href="{% static "common/css/bootstrap.min.css" %}" type="text/css" rel="stylesheet">
        <script src="{% static "common/js/bootstrap.bundle.min.js" %}"></script>
        
        {% block head %}
        {% endblock head %}

    </head>

    <body class="d-flex flex-column min-vh-100">

        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3">
                <!-- Toasts container -->
            </div>
        </div>

        <header>
            {% include "header.html" %}

            {% block header %}
            {% endblock header %}
        </header>

        <main style="min-height: 100vh;" class="d-flex">
            <div class="mt-4 mb-4 flex-grow-1">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        
        <footer>
            {% include "footer.html" %}
        </footer>

        <script src="{% static 'common/js/axios.min.js' %}"></script>
        <script src="{% static 'common/js/getCookie.js' %}"></script>
        <script src="{% static "common/js/showToast.js" %}"></script>
        <script src="{% static "stocks/js/add-or-remove-favourite.js" %}"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>